<div class="relative bg-MatBlack w-full sideHeight">
  <ul class="flex py-10 items-center space-y-6 flex-col justify-center">
    <li
      class="w-4/5 cursor-pointer text-white hover:text-white rounded-md hover:bg-gray-200/50 duration-300 px-10 py-3 space-x-7 justify-around">
      <fa-icon [icon]="home" class="text-xl"></fa-icon>
      <a class="font-montserrat text-lg pt-1">Dashboard</a>
    </li>
    <li
      class="w-4/5 cursor-pointer text-white hover:text-white rounded-md hover:bg-gray-200/50 duration-300 px-10 py-3 space-x-7 justify-around">
      <fa-icon [icon]="home" class=" text-xl"></fa-icon>
      <a class="font-montserrat text-lg pt-1">New Offer</a>
    </li>
  </ul>
  <ul class="w-full absolute bottom-10 flex items-center justify-center">
    <li
      class="w-4/5 cursor-pointer text-white hover:text-white rounded-md hover:bg-gray-200/50 duration-300 px-10 py-3 space-x-7 justify-around">
      <fa-icon [icon]="logout" class="text-xl"></fa-icon>
      <a class="font-montserrat text-lg pt-1">Logout</a>
    </li>
  </ul>
</div>


