<div class="w-full bg-MatBlack h-20 px-6 flex justify-between">
  <div class="w-1/2 items-center flex">
    <fa-icon [icon]="bars" (click)="SideNavToggled()" class="cursor-pointer text-center text-white text-2xl"></fa-icon>
  </div>
  <div class="w-3/4 md:w-1/3 h-full flex items-center space-x-5 justify-end ">
    <h1 class="text-white">{{user}}</h1>
    <div class="w-14 h-14 rounded-full bg-white">
      <img [src]="image" class="w-full h-full rounded-full object-cover" alt="pics"/>
    </div>
  </div>
</div>
